.hero {
    display: flex;
    flex-direction: column;
    margin: 5rem 7rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hero img {
    width: 18rem;
    border-radius: 50%;
}

.hero h1 {
    font-size: 3rem;
    width: 60%;
    text-align: center;
    font-weight: 600;
    margin-top: 3rem;
}

.hero h1 span {
    background: linear-gradient(267deg, #DA7C25 50.36%, #B923E1 102.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.hero p {
    font-size: 20px;
}

.hero-action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 5rem;
    font-size: 17px;
}

.hero-action .hero-connect {
    padding: 1rem 2rem;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25, 50.36%, #B923E1 102.06%);
    cursor: pointer;
    transition: 0.5s;
}

.hero-action .hero-connect:hover {
    transform: scale(1.05);

}

.hero-action .hero-resume {
    padding: 1rem 2rem;
    border-radius: 50px;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.5s;
}

.hero-action .hero-resume:hover {
    border: 1px solid #B923E1;
    color: #B923E1;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .hero {
        display: flex;
        flex-direction: column;
        margin: 3rem 3rem;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    .hero h1 {
        margin-top: 2rem;
        font-size: 3rem;
        width: 85%;
        text-align: center;
        font-weight: 600;
    }

    .hero-action {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 5rem;
        font-size: 15px;
    }
}