.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7rem; 
    background: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    /* position: sticky; Opsional: jika ingin navbar nempel saat scroll */
    /* top: 0; */
    z-index: 999;
}

.logo {
    width: 60px;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.nav-underline {
    display: flex;
    margin: auto;
}

.link {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

li .link:hover {
    color: #DA7C25;
}

.nav-connect {
    padding: 1rem 2rem;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 50.36%, #B923E1 102.06%);
    cursor: pointer;
    transition: 0.5s;
    font-size: 18px;
}

.nav-connect:hover {
    transform: scale(1.05);
}

/* Sembunyikan icon mobile di desktop */
.nav-mob-open, .nav-mob-close {
    display: none;
}

/* --- MOBILE RESPONSIVE --- */
@media (max-width: 1024px) {
    .navbar {
        padding: 10px 20px;
        background: rgba(255, 255, 255, 0.05); 
        -webkit-backdrop-filter: blur(10px);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        position: relative;
    }

    .nav-connect {
        display: none;
    }

    /* Icon Hamburger */
    .nav-mob-open {
        display: block;
        width: 30px;
        cursor: pointer;
    }

    .nav-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100dvh;
        overflow: hidden;
        touch-action: none;
        overscroll-behavior: contain;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;

        background: rgba(31, 0, 22, 0.9);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);

        transform: translateY(-100%);
        transition: transform 0.5s ease-in-out;
        z-index: 9999;
    }

    .nav-menu.open {
        transform: translateY(0);
    }


    /* Icon Close (X) */
    .nav-mob-close {
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
        transition: transform 0.3s;
    }

    .nav-mob-close:hover {
        transform: rotate(90deg);
    }

    /* Styling Text Menu Mobile */
    .nav-menu li {
        transform: scale(1.1);
    }
    
    .nav-menu li p {
        font-size: 18px;
    }
}