.footer {
    display: flex;
    flex-direction: column;
    padding: 2rem 7vw;
    gap: 1rem;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-top {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-top-left {
    font-size: 1.25rem;
    text-align: justify;
}

.footer-top-right {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.footer-email-input {
    display: flex;
    gap: 30px;
    padding: 20px 30px;
    border-radius: 50px;
    background: #32323B;
    padding-right: 80px;
    width: 100%;
    max-width: 500px;
}

.footer-email-input:hover {
    border: 2px solid white;
}

.footer-email-input input {
    outline: none;
    border: none;
    background: transparent;
    color: #a0a0a0;
    font-family: 'Outfit';
    font-size: 1rem;
}

.footer-subscribe {
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 50.36%, #B923E1 102.06%);
    font-size: 1rem;
    padding: 20px 40px;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Outfit';
}

.footer-subscribe:hover {
    transform: scale(1.05);
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.footer-bottom-right {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .footer {
        padding: 2rem 3vw;
    }

    .footer-top {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .footer-top-right {
        justify-content: center;
    }

    .footer-email-input {
        padding: 15px 20px;
        width: 100%;
    }

    .footer-subscribe {
        padding: 15px 30px;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
    }

    .footer-bottom-right {
        justify-content: center; 
    }
}

@media (max-width: 480px) {
    .footer-top-left {
        font-size: 1rem;
        text-align: center;
    }

    .footer-email-input {
        padding: 10px 15px;
        width: 100%;
    }

    .footer-subscribe {
        padding: 10px 20px;
    }
}
