* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
}

body {
  font-family: "Outfit", sans-serif;
  height: 100vh;
  color: white;
  overflow-x: hidden;
  
  background-color: #000000;
  
  /* Menggunakan Radial Gradient untuk efek 'sorotan cahaya' */
  background-image: 
    radial-gradient(circle at 10% 20%, rgba(90, 20, 150, 0.4) 0%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(circle at 90% 80%, rgba(20, 50, 150, 0.4) 0%, rgba(0, 0, 0, 0) 50%);
    
  background-attachment: fixed;
}